HTML{
    background-color: whiyte;
}
.row, .container, body{
    background-color: white;
}
h1{
    font-family: 'Titan One', cursive;
    font-size: 70px;
    color: white;
}
.intro{
    background-image: url(https://media.giphy.com/media/A5aG03QnM9hGU/giphy.gif);
    background-repeat: no-repeat;
    background-size:100% auto;
    height:100vh;
}
#profile{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 21px;
  font-style: normal;
}
#skills{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 21px;
  font-style: normal;
}
#projects {
    font-size: 21px;
    font-style: normal;
    
  
  }
  img{
    margin: 0 auto;
  }
  
  
  #projects h3 {
    padding-top: 10px;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 40px;
    text-align: center;
  }
  
  #end {
    height: 60px;
    padding: 5px;
    background-color: rgba(0,0,0, 0.1);
  }
  
  #name {
    float: left;
    padding-left: 100px;
    padding-top: 22px;
    font-family: 'Anaheim', sans-serif;
    display: inline-block;
  }
  
  #social {
    float: right;
    padding-right: 200px;
    padding-top: 15px;
  
  }
  
  #social img {
    padding-left: 10px;
  }
  
  table img {
    width: 350px;
    height: 190px;
    overflow: show;
  }
  
  table td {
    padding-left: 65px;
    padding-top: 20px;
  }
  
  table img:hover {
    transform: scale(1.1);
    transition: all .4s ease-in;
    filter: grayscale(1);
  }
  
  table td p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 21px;
    font-style: normal;
  }
  .ian{
    margin-top: 50px;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .intro {
    position: relative;
    text-align: center;
    color: white;
  }
  footer{
    color:white;
    background-color: black;
  }