HTML{

    font-family: 'Merriweather', serif;
}
.row, .container, body{
  font-family: 'Merriweather', serif;
}
h1,h2{
    font-family: 'Merriweather', serif;
    font-size: 70px;
    
}
.intro{
    background-image: url(https://images.unsplash.com/photo-1503376780353-7e6692767b70?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    background-repeat: no-repeat;
    background-size:100% auto;
    height:100vh;
}
#profile{

  font-size: 21px;
  font-style: normal;
}
#skills{

  font-size: 21px;
  font-style: normal;
}
#projects {
    font-size: 21px;
    font-style: normal;
    
  
  }
  img{
    margin: 0 auto;
  }
  
  
  #projects h3 {
    padding-top: 10px;
   
    font-size: 40px;
    text-align: center;
  }
  
  #end {
    height: 60px;
    padding: 5px;
    background-color: rgba(0,0,0, 0.1);
  }
  
  #name {
    float: left;
    padding-left: 100px;
    padding-top: 22px;
    font-family: 'Anaheim', sans-serif;
    display: inline-block;
  }
  
  #social {
    float: right;
    padding-right: 200px;
    padding-top: 15px;
  
  }
  
  #social img {
    padding-left: 10px;
  }
  
  table img {
    width: 350px;
    height: 190px;
    overflow: show;
  }
  
  table td {
    padding-left: 65px;
    padding-top: 20px;
  }
  
  table img:hover {
    transform: scale(1.1);
    transition: all .4s ease-in;
    filter: grayscale(1);
  }
  
  table td p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 21px;
    font-style: normal;
  }
  .ian{
    margin-top: 50px;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .intro {
    position: relative;
    text-align: center;
    color: white;
  }
  footer{
    color:white;
    background-color: black;
  }
  html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
    padding-top: 100px;
}
footer {
    padding: 30px 0;
}

/*
 * Custom styles
 */
.navbar-brand {
    font-size: 24px;
}

.navbar-container {
    padding: 20px 0 20px 0;
}

.navbar.navbar-fixed-top.fixed-theme {
    background-color: #222;
    border-color: #080808;
    box-shadow: 0 0 5px rgba(0,0,0,.8);
}

.navbar-brand.fixed-theme {
    font-size: 18px;
}

.navbar-container.fixed-theme {
    padding: 0;
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
    transition: 0.8s;
    -webkit-transition:  0.8s;
}
#bio{
  font-family: 'Merriweather', serif;
  font-size: 12px;
}